{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pet Relationships</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <!-- https://visjs.github.io/vis-network/examples/  -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.1.9/standalone/umd/vis-network.min.js"
    ></script>

    <style type="text/css">
      #mynetwork {
        width: 1000px;
        height: 800px;
        border: 1px solid lightgray;
      }
    </style>
  </head>
  <body>
    {% include "./header.html" with nav="view_relationships" %}
    <div id="mynetwork"></div>

    <h2 id="eventSpanHeading"></h2>
    <pre id="eventSpanContent"></pre>

    <script type="text/javascript">
      // create an array with nodes
      var nodes = new vis.DataSet([
      {% for name, mood, icon in pet_data %}
        { id: "{{name}}", label: "{{name}}", title: "{{mood}}", shape: "circularImage", image: "{% static icon %}" },
      {% endfor %}
      ]);

      // create an array with edges
      var edges = new vis.DataSet([
      {% for relationship in relationships %}
        { from: "{{relationship.0}}", to: "{{relationship.1}}", label: "{{relationship.2}}" },
      {% endfor %}
      ]);

      // create a network
      var container = document.getElementById("mynetwork");
      var data = {
        nodes: nodes,
        edges: edges,
      };

      var options = {
      };

      var network = new vis.Network(container, data, options);

      network.on("click", function (params) {
        if (params.nodes.length > 0) {
          let pet_name = params.nodes[0]
          window.location = '/view_pet/'+pet_name
        }
      });
    </script>
  </body>
</html>
