body {
	padding: 10px;
	padding-left: 100px;
	margin: 0 auto;
}


#rainbowContainer {
	width: 100px;
	height: 18px;
	border: 1px solid black;
	display: flex;
}

#rainbow {
	width: 1px;
	height: 18px;
	float: left;
	background: url(images/rainbow.png) repeat;
}

#nyanCat {
	width: 32px;
	height: 20px;
	background:  url(images/nyanCat.png);
}

.clearDiv {
	clear: both;
}